body {
    padding: 20px;
}

#show_progress {
    display: none;
    margin: 10px;
}

#show_progress .wait {
    width: 100%;
    text-align: center;
}

#show_success, #show_error, #show_warning {
    display: none;
    margin: 10px;
}

#step2 {
    margin-top: 15px;
}
